body {
  margin: 0;
  padding: 0%;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
}

.logo {
  width: 50%;
  margin: auto;
  display: block;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Este valor es ajustable para cambiar la opacidad del color de fondo */
}

button {
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #de0913;
  font-size: 18px;
  border: 0;
  padding: 16px;
  height: 70px;
  width: 300px;
  margin: auto;
  text-align: center;
  display: block;
}

table {
  margin: auto;
}

.buttonTable {
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #de0913;
  font-size: 16px;
  border: 0;
  padding: 16px;
  height: 150px;
  width: 150px;
  margin: auto;
  text-align: center;
  display: block;
}

ul{
    list-style:none;
}

td {
    
    font-weight: bold;
  padding: 20px;
}

.checks{
    padding: 0;
    margin: 0%;
    width: 26px;
}

.title {
  /* margin-top: 5vh; */
  color: white;
  text-align: center;
}

.subtitle {
  color: white;
  text-align: center;
  font-weight: lighter;
}

.in1{
  display: block;
  margin: auto;
  text-align: center;
  margin-left: -8px;
  border-radius: 5px;
}

.in1:not(:focus):not(:valid) {
  border: 3px solid white;
}

.in1:valid {
  border: 3px solid #3cb371;
}

.in1:invalid:focus {
  border: 3px solid #de0913;
}

.divs {
  border-radius: 8px;
  margin: auto;
  display: block;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-bottom: 5vh;
}

.title2 {
  margin-left: 30px;
}

.text2 {
  margin-left: 30px;
}

.group {
  margin: auto;
  width: 58%;
  height: 90px;
  position: relative;
}

.group2 {
  margin: auto;
  width: 88%;
  height: 90px;
  position: relative;
}

.inputTwo {
  padding-left: 2%;
  position: absolute;
  top: 26.6666666667px;
  color: black(255, 255, 255, 0.5);
  font: 400 20px Arial;
  cursor: text;
  transition: 0.25s ease;
}

.inputOne {
  padding-left: 19%;
  position: absolute;
  top: 26.6666666667px;
  color: black(255, 255, 255, 0.5);
  font: 400 20px Arial;
  cursor: text;
  transition: 0.25s ease;
}

.check {
  margin-left: 26px;
  width: 16px;
}

p {
  display: inline-flex;
}

input {
  display: block;
  height: 15px;
  width: 100%;
  padding-top: 36.6666666667px;
  border: 0;
  color: black;
  background: white;
  font-size: 20px;
  transition: 0.3s ease;
  padding-bottom: 26px;
  padding-left: 6px;
}

input:not(:placeholder-shown) ~ .inputOne {
  padding-top: 2%;
  top: 0;
  font: 400 Arial;
  color: black(255, 255, 255, 0.5);
}

input:not(:placeholder-shown) ~ .inputTwo {
  padding-top: 2%;
  top: 0;
  font: 400 16px Arial;
  color: black(255, 255, 255, 0.5);
}

*::placeholder { color: white; }

input:focus {
  outline: none;
}

input:focus ~ .inputOne {
  padding-top: 2%;
  top: 0;
  color: #de0913;
}

input:focus ~ .inputTwo {
  padding-top: 2%;
  top: 0;
  color: #de0913;
}


.exito{
    text-align: center;
}

.l{
    width: 190px;
    display: block;
    margin: auto;
}